* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3f87f5;
    --secondary-color: #231d4f;
    --tertiary-color: #848199;
    --quatenary-color: #0a0826;
    --dark-color: #3e3e3e;
    --light-color: #6c6c6c;
    --popup-color: #ff4e4e;
    --footer-color: #0b0d17;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    /* background-color: #0a0826; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 38px;
    font-weight: 600;
}

/* Utility Class */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    padding: 0.6rem 2rem;
    background-color: white;
    color: var(--primary-color);
    font-weight: 700;
    border-radius: 4px;
}

/* Navbar */
.navbar {
    background-color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar a {
    color: var(--dark-color);
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    white-space: nowrap;
}

.navbar .main-menu-list a:hover {
    color: var(--primary-color);
}

/* Mobile Menu */
.navbar .mobile-menu-toggle {
    color: var(--dark-color);
    cursor: pointer;
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(63, 135, 245, 0.2);
    border-top: 1px solid rgba(63, 135, 245, 0.1);
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.navbar.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.1rem;
    
}

.navbar .mobile-menu {
    display: none;
}

/* Hero Section */
.hero {
    background: url(/images/header-image-1.jpg) center center/cover no-repeat;
    height: 600px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    max-width: 650px;
    z-index: 1;
    position: relative;
    top: 8rem;
    line-height: 1.2;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 1rem;
}

.hero-content p {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #9B9B9B;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 2;
}

.slider-arrow-left {
    left: 2rem;
}

.slider-arrow-right {
    right: 2rem;
}

.slider-indicators {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    z-index: 2;
}

.slider-indicators span {
    display: block;
    width: 45px;
    height: 3px;
    background-color: #C4C4C494;
    border-radius: 5px;
}

/* Album */
.album {
    padding: 5rem 0;
}

.album-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.album img {
    width: 50%;
    border-radius: 5px;
}

.album-content {
    text-align: left;
    flex: 1;

    h2 {
        color: var(--quatenary-color);
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        color: var(--light-color);
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .btn {
        background-color: var(--primary-color);
        color: white;
        border-radius: 2px;
    }
}

/* Packages */
.packages {
    padding: 3rem 0;
}

.packages h2 {
    text-align: center;
    color: var(--quatenary-color);
    margin-bottom: 120px;
    
}

.packages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.package {
    flex: 1;
    padding: 2rem 1rem;
    color: var(--secondary-color);

    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    p {
        color: var(--light-color);
        margin-bottom: 1rem;
    }

    ul {
        margin-bottom: 1.5rem;
    }

    li {
        color: var(--light-color);
        margin-bottom: 0.5rem;

        i {
            color: #5b5be7;
            background: #eeeeff;
            border-radius: 50%;
            padding: 0.2rem;
            margin-right: 0.5rem;
        }
    }
}

.package .btn {
    display: block;
    text-align: center;
    background-color: #fff1f7;
    padding: 0.7rem;
    border-radius: 2rem;

    &:hover {
        background: var(--primary-color);
        color: white;
    }
}

.package-popular {
    position: relative;
    background: var(--primary-color);
    color: white;
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    box-shadow: 0 20px 30px rgba(63, 135, 245, 0.3);
    bottom: 40px;
    width: 292px;
    height: 500px;
    

    .hot {
        position: absolute;
        top: -10px;
        right: 20px;
        background: var(--popup-color);
        color: white;
        padding: 0.3rem 0.7rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        font-weight: 700;
    }
}

.package-popular p,
.package-popular li {
    color: white;
}

.package-popular .btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Clients */
.client {
    padding: 5rem 0;
}

.client h2 {
    text-align: center;
    color: var(--quatenary-color);
    margin-bottom: 120px;
}

.client-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.client-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 2rem 2.5rem;
}

.client-card p {
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

.client-card h3 {
    font-size: 1.2rem;
    color: var(--quatenary-color);
}

.client-card h4 {
    color: var(--light-color);
}

.client-card img {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: center;
}

/* FAQ */
.faq {
    padding: 5rem 0;
}

.faq h2 {
    text-align: center;
    color: var(--quatenary-color);
    margin-bottom: 120px;
}

.faq-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.faq-list {
    flex: 1;
}

.faq-image {
    flex: 1;
}

.faq-item {
    border: 1px solid #dbe5ef;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.faq-item p {
    padding: 0 1rem 1rem;
    color: var(--light-color);
    line-height: 1.6;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.faq-question h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-color);
}

.faq-question i {
    color: #456b78;
    margin-left: 20px;
}

.faq-image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

/* Footer */
.footer {
    padding: 5rem 0;
    background: var(--footer-color);
    color: lightgray;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: 14px;
}

.footer-app {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.footer-app img {
    width: 100px;
    border-radius: 4px;
}

@media(max-width: 768px) {
    .main-menu-items {
        display: none;
    }

    .navbar .mobile-menu {
        display: block;
    }

    .navbar .mobile-menu-toggle {
        display: block;
        padding: 10px;
    }

    .navbar .logo {
        font-size: 1rem;
    }

    /* hero */
    .hero-content {
        padding-top: 8rem;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }

    /* album */
    .album {
        padding: 20px 0;
        padding-top: 40px;

        h2 {
            font-size: 19px;
            margin-bottom: 25px;
        }
    }

    .album-flex {
        flex-direction: column;
    }

    .album img {
        width: 100%;
    }

    .album-content {
        text-align: center;
    }

    /* Packages */
    .packages {
        padding: 20px 0;

        .container {
            padding-left: 0;
        }

        h2 {
            font-size: 19px;
            margin-bottom: 25px;
        }
    }
    .packages-list {
        flex-direction: column;
        margin-left: 0;
    }

    .package {
        width: 90%;
    }

    .package-popular {
        width: 90%;
       
    }

    /* clients */
    .client {
        padding: 20px 0;
    }

    .client h2 {
        font-size: 19px;
        margin-bottom: 25px;
    }

    .client-cards {
        grid-template-columns: 1fr;
    }

    /* FAQ */
    .faq {
        padding: 20px 0;
    }

    .faq h2 {
        font-size: 19px;
        margin-bottom: 25px;
    }

    .faq-content {
        flex-direction: column-reverse;
    }

    .faq-image img {
        height: 300px;
    }

    /* footer */
    .footer-flex {
        flex-direction: column-reverse;
    }

    .footer-app {
        margin-bottom: 3rem;
    }
}
